@import './colors.scss';
@import './components/navbar.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;


$danger: $app-color1;
$theme-shadow: $app-color1;
$card-radius: 0rem;

$navbar-item-hover-color: white;
$navbar-item-hover-background-color: $app-hover-color;
$navbar-item-color: $app-color1;
$menu-item-active-background-color: $app-color1;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Zeyada', cursive;
}

.main {
  width: 100%;
  height: 100%;
}

.padding{
  padding: 1rem;
}

@keyframes spin-horizontal {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes spin-horizontal-reverse {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.animate-spin-horizontal {
  animation: spin-horizontal 5s linear infinite;
}


@media screen and (max-width: 1920px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 720px) {
}

@media screen and (max-width: 660px) {
}

@media screen and (max-width: 350px) {

}